

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--main-font-color-dark);

  --main-font-color-light: #F3F0EB;
  --main-font-color-dark: #2A2828;

  --background-color-light: #FFFFFF60;

  --cta-color: #637AA7;
  --cta-color-hover: #3A4966;
  --dark-brown: #59433E;
  --card-background-color: #FFFFFF40;
  --card-background-color-hover: #FFFFFF20;

  --secondary-button-hover-color: rgba(141, 155, 217, 0.38);

  --box-shadow: 2px 3px 20px 6px #59433E20;

  --body-font: 'Montserrat', sans-serif;
  --header-font: "mencken-std-head", sans-serif;
}
body {
  margin: 0;
 /* background-color: rgb(174,166,155);*/
 /* background: linear-gradient(180deg, rgba(174,166,155,1) 35%, rgba(174,166,155,1) 66%, rgba(216,206,193,1) 100%);*/
  background: url("/assets/background-gradient.svg");
}
.grain-filter {
  background: #ffffff01;
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
#app {
 height: 100%;
}
p {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header:has(.logo-opacity-null) {
  height: 0;
}

@media (min-width: 740px) {
  header {
    height: 80px;
  }
}