

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-font-color-light: #F3F0EB;
  --main-font-color-dark: #2A2828;

  --background-color-light: #FFFFFF60;

  --cta-color: #637AA7;
  --cta-color-hover: #3A4966;
  --dark-brown: #59433E;
  --card-background-color: #FFFFFF40;
  --card-background-color-hover: #FFFFFF20;

  --secondary-button-hover-color: #BCC6DA;

  --box-shadow: 2px 3px 20px 6px #59433E20;

  --body-font: 'Montserrat', sans-serif;
  --header-font: 'Quattrocento', serif;
}
body {
  margin: 0;
  background: rgb(174,166,155);
 /* background: linear-gradient(180deg, rgba(174,166,155,1) 35%, rgba(174,166,155,1) 66%, rgba(216,206,193,1) 100%);*/
}

#app {

}
p {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header:has(.logo-opacity-null) {
  height: 0;
}
@media (min-width: 740px) {
  header {
    height: 80px;
  }
}